In [65]:
from nltk.tokenize import word_tokenize
import pandas as pd

In [66]:
sentence_1="It is a good practice for us."
sentence_2="It was also good to know about it."

In [67]:
tokens = word_tokenize(sentence_1.lower()) + word_tokenize(sentence_2.lower())

In [68]:
tokens = set(tokens)

In [69]:
df = pd.DataFrame({
}, index=[1,2], columns=list(tokens))

In [70]:
df

  practice   it good   to  was also  for    a    .   us know   is about
1      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
2      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN

In [60]:
tokens1 = word_tokenize(sentence_1.lower())
tokens2 = word_tokenize(sentence_2.lower())

In [61]:
counts1 = [tokens1.count(x) for x in df.columns]
counts2 = [tokens2.count(x) for x in df.columns]

In [62]:
df.iloc[0,:] = counts1
df.iloc[1,:] = counts2

In [63]:
df

  practice it good to was also for  a  . us know is about
1        1  1    1  0   0    0   1  1  1  1    0  1     0
2        0  2    1  1   1    1   0  0  1  0    1  0     1

#### Count Vectorizer

In [72]:
from sklearn.feature_extraction.text import CountVectorizer

In [73]:
cv = CountVectorizer()

In [74]:
data = cv.fit_transform([sentence_1, sentence_2])

In [75]:
data

<2x11 sparse matrix of type '<class 'numpy.int64'>'
	with 13 stored elements in Compressed Sparse Row format>

In [76]:
cv.get_feature_names_out()

array(['about', 'also', 'for', 'good', 'is', 'it', 'know', 'practice',
       'to', 'us', 'was'], dtype=object)

In [77]:
df = pd.DataFrame(data=data.toarray(), 
                  columns= cv.get_feature_names_out())

In [78]:
df

   about  also  for  good  is  it  know  practice  to  us  was
0      0     0    1     1   1   1     0         1   0   1    0
1      1     1    0     1   0   2     1         0   1   0    1

### n-gram

In [81]:
cv = CountVectorizer(ngram_range=(1,2))

In [82]:
data = cv.fit_transform([sentence_1, sentence_2])

In [83]:
cv.get_feature_names_out()

array(['about', 'about it', 'also', 'also good', 'for', 'for us', 'good',
       'good practice', 'good to', 'is', 'is good', 'it', 'it is',
       'it was', 'know', 'know about', 'practice', 'practice for', 'to',
       'to know', 'us', 'was', 'was also'], dtype=object)

In [84]:
df = pd.DataFrame(data=data.toarray(), 
                  columns= cv.get_feature_names_out())

In [85]:
df

,about,about it,also,also good,for,for us,good,good practice,good to,is,...,it was,know,know about,practice,practice for,to,to know,us,was,was also
0,0,0,0,0,1,1,1,1,0,1,...,0,0,0,1,1,0,0,1,0,0
1,1,1,1,1,0,0,1,0,1,0,...,1,1,1,0,0,1,1,0,1,1